@page
@model CWA.Web.Pages.GrandesClientes.IndexModel

@inject IOptions<ApplicationSettings> _options

@{
    List<Breadcrumb> BreadcrumbsModel = new();
    BreadcrumbsModel.Add(new Breadcrumb { Order = 0, Text = "Grandes Clientes" });

}

@section PageBreadcrumbsSection {
    <partial name="_BreadcrumbsPartial" model="BreadcrumbsModel" />
}

<div class="container-xxl">
    <div class="row">
        <div class="col-12">
            <div class="card">

                <div class="card-body">
                    <div class="table-responsive mb-3">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(m => Model.ViewModel[0].Nombre)
                                    </th>
                                    <th cwa-visible="Model.ShowMore">
                                        @Html.DisplayNameFor(m => Model.ViewModel[0].Registrante)
                                    </th>
                                    <th cwa-visible="Model.ShowMore">
                                        @Html.DisplayNameFor(m => Model.ViewModel[0].Tipo)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(m => Model.ViewModel[0].FechaEntrada)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(m => Model.ViewModel[0].Estatus)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(m => Model.ViewModel[0].FechaAtencion)
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.ViewModel)
                                {
                                    <tr>
                                        <td class="align-middle">
                                            <a asp-page="Registro" asp-route-registroid="@item.Id" cwa-visible="Model.CanView">@item.Nombre</a>
                                            <span cwa-visible="!Model.CanView">@item.Nombre</span>
                                        </td>
                                        <td class="align-middle" cwa-visible="Model.ShowMore">
                                            <span>@item.Registrante</span>
                                        </td>
                                        <td class="align-middle" cwa-visible="Model.ShowMore">
                                            <span>@item.Tipo</span>
                                        </td>
                                        <td class="align-middle">
                                            <span>@(item.FechaEntrada.HasValue ? item.FechaEntrada.Value.ApplyFormat(_options.Value.DateFormat) : "".Blank())</span>
                                        </td>
                                        <td class="align-middle">
                                            <span cwa-visible="@(item.FechaEntrada.HasValue && item.FechaAtencion.HasValue)">
                                                @_options.Value.GrandesClientes.Strings.Autorizado
                                            </span>
                                            <span cwa-visible="@(item.FechaEntrada.HasValue && !item.FechaAtencion.HasValue)">
                                                @_options.Value.GrandesClientes.Strings.NoAutorizado
                                            </span>
                                            <span cwa-visible="@(!item.FechaEntrada.HasValue)">
                                                @_options.Value.GrandesClientes.Strings.NoAutorizado
                                            </span>
                                        </td>
                                        <td class="align-middle">
                                            <span>@(item.FechaAtencion.HasValue ? item.FechaAtencion.Value.ApplyFormat(_options.Value.DateFormat) : "".Blank())</span>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                    @* Buttons *@
                    <div class="container-fluid text-center mb-md-2">
                        <a asp-page="Registrar" class="btn btn-sm btn-primary me-2" style="width: 100px;" cwa-visible="Model.CanCreate">
                            <i class="bi-plus-circle"></i>&nbsp;Nuevo
                        </a>
                        <a asp-page="/Index" class="btn btn-sm btn-primary" style="width: 100px;">
                            <span>Regresar</span>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>